<?xml version="1.0" encoding="UTF-8"?>
<module>
	<name>quickpaycheckout</name>
	<displayName><![CDATA[Quickpay Gateway]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Quickpay helps you to process card payments quickly and securely]]></description>
	<author><![CDATA[Binary Limited]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to delete your details ?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>